body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
  float : left;
  width: 60px;      /* Adjusted width */
  height: 60px;     /* Adjusted height */
  font-size: 24px;  /* Adjusted font size */
  /* Add any other styles you want to customize */
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
